/*background*/


body {
  background-image: url("dust.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  font-size: 1.5vw;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

/*Box Setups*/

.flexCon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  /* flex container, sits content within it side by side*/
}

/* footer */
.footer {
  background-color: #212121;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* Navbar aka traffic lights */

.traffic
 {
  position: fixed;
  background: #212121;
  border-style: groove;
  border-color: #363535;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("frame.png");
  background-repeat: repeat;
  background-position: center;
  margin: 1.5rem;
}

.button {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-image: url("framebig.png");
  background-repeat: repeat;
  background-position: center;
}

.bR {
  background-color: #e81e1e;
}

.bY {
  background-color: #fcd000;
}

.bG {
  background-color: #0ccc0c;
}

/*Mobile Settings*/

@media (max-width: 800px) {
  .flexCon {
    flex-direction: column;
    margin: auto 0;
  } /*changes direction of flexCon */
}

@media (max-width: 800px) {
  .traffic {
    flex-direction: row;
  } /*changes direction of traffic */
}

/* content box, for yellow */
.colorY {
  background: transparent;
  border: 0.5rem solid #fcd000;
  box-shadow: 0 0 1rem #fcd000, 0 0 1rem #fcd000 inset;
  padding: 1rem;
  margin: 0 1rem;
  max-width: 50%;
}

@media (max-width: 800px) {
 .colorY { 
  margin: 1rem 0;
  max-width: 75%;}
  
}

/* content box, for red */
.colorR {
  border: 0.5rem solid #e81e1e;
  box-shadow: 0 0 1rem #e81e1e, 0 0 1rem #e81e1e inset;
  background: transparent;
  padding: 1rem;
  margin: 0 1rem;
  max-width: 50%;
}

@media (max-width: 800px) {
 .colorR { 
  margin: 1rem 0;
  max-width: 75%;}
}

/* content box, for green */
.colorG {
  background: transparent;
  border: 0.5rem solid #0ccc0c;
  box-shadow: 0 0 1rem #0ccc0c, 0 0 1rem #0ccc0c inset;
  padding: 1rem;
  margin: 0 1rem;
  max-width: 50%;
}

@media (max-width: 800px) {
 .colorG { 
  margin: 1rem 0;
  max-width: 75%;}
}

/* text, overall */
h1 {
  font-family: "Silkscreen", monospace;
  font-size: 3rem;
  text-align: center;
}

h2 {
  text-shadow: 0 0 0.5rem #eeeddd;
  font-family: "Silkscreen", monospace;
  font-size: 1.5rem;
  color: #eeeddd;
}

p, li {
  color: #eeeddd;
  font-family: "Silkscreen", monospace;
  font-size: 1rem;
  line-height: 1rem;
  text-shadow: 0 0 0.1rem #eeeddd;
}

/* title things, colour dependent */

.colorY > h1 {
  color: #fcd000;
  text-shadow: 0 0 2rem #fcd000;
}

.colorR > h1 {
  color: #e81e1e;
  text-shadow: 0 0 2rem #e81e1e;
}

.colorG > h1 {
  color: #0ccc0c;
  text-shadow: 0 0 2rem #0ccc0c;
}

/* link things, dependent on yellow colour box */

.colorY a:link {
  background: none;
  text-decoration: none;
  color: #fcd000;
  text-shadow: 0 0 1rem #fcd000;
}

.colorY a:visited {
  background: none;
  text-decoration: none;
  color: #fcd000;
  text-shadow: 0 0 2rem #fcd000;
}

.colorY a:hover {
  background: #fcd000;
  color: black;
  box-shadow: 0 0 1rem #fcd000;
}

.colorY a:active {
  background: #fcd000;
  color: black;
  box-shadow: 0 0 2rem #fcd000;
}

/* link things, dependent on red colour box */

.colorR a:link {
  background: none;
  text-decoration: none;
  color: #e81e1e;
  text-shadow: 0 0 1rem #e81e1e;
}

.colorR a:visited {
  background: none;
  text-decoration: none;
  color: #e81e1e;
  text-shadow: 0 0 2rem #e81e1e;
}

.colorR a:hover {
  background: #e81e1e;
  color: black;
  box-shadow: 0 0 1rem #e81e1e;
}

.colorR a:active {
  background: #e81e1e;
  color: black;
  box-shadow: 0 0 2rem #e81e1e;
}

/* link things, dependent on green colour box */

.colorG a:link {
  background: none;
  text-decoration: none;
  color: #0ccc0c;
  text-shadow: 0 0 1rem #0ccc0c;
}

.colorG a:visited {
  background: none;
  text-decoration: none;
  color: #0ccc0c;
  text-shadow: 0 0 2rem #0ccc0c;
}

.colorG a:hover {
  background: #0ccc0c;
  color: black;
  box-shadow: 0 0 1rem #0ccc0c;
}

.colorG a:active {
  background: #0ccc0c;
  color: black;
  box-shadow: 0 0 2rem #0ccc0c;
}